body{
  background-color: rgb(84, 48, 2);
}
.banner {
  width: 100%; 
  height: 100vh;
  background-image: linear-gradient(rgba(43, 43, 43, 0.75),rgba(58, 57, 57, 0.75)),
  url('tamu.jpg'); 
  background-size: cover;
  background-position: center;
}
.profile{
  width: 300px;
  cursor: pointer;
  /* padding-left: 20px; */
  border-radius: 5%;
}
.content{
  color:aliceblue;
  width: 100%;
  /* margin: auto; */
  padding: 10px 0;
  display: flex;
  /* align-items: center; aligns them all on same line */
  justify-content: space-between;
}
.content ul{
  list-style: none;
  width: 100%;
  text-align: center;
  padding-right: 0px;
}
.content ul li{
  /* list-style: none; */
  display: inline-block;
  margin: 0px 10px;
  /* position: relative; */
}
.content ul li a{ /*anchor tag*/
  text-decoration: none;
  color: rgb(244, 223, 86);
  text-transform: uppercase;
}
.Header {
  font-size: 20px; /* Adjust caption size */
  color: rgb(239, 173, 74); /* Adjust caption color */
  margin-top: 20px; /* Adds some space between image and caption */
  text-align:center;
  padding-top: 15px;
  padding-left: 15px;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.paragraph{
  font-size: 15px; 
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  border: 5px solid rgb(255, 255, 255);
  margin:20px 20px;
}
.technicalImage{
  width: 180px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.pdf{
  float:right;
  /* margin: 0 auto; */
  width: 750px;
  height: 500px;
  /* padding-right: 50px; */
  aspect-ratio: 4 / 3;
}
.smallTitle{
  font-size: 15px; /* Adjust caption size */
  color: rgb(255, 255, 255); /* Adjust caption color */
  text-align:center;
}
.IOCM{
  width: 28%;
  height: 28%;
   padding-left: 30px;
  padding-right: 30px;
  /*padding-top: 30px; */
}
.content ul li a:hover {
  background-color: rgb(244, 223, 86);
  color: #131313;
}
a{
  color: inherit;
}