body{
  background-color: maroon;
}
.banner {
  width: 100%; 
  height: 100vh;
  background-image: linear-gradient(rgba(43, 43, 43, 0.75),rgba(58, 57, 57, 0.75)),
  url('tamu.jpg'); 
  background-size: cover;
  background-position: center;
}
.profile{
  width: 180px;
  cursor: pointer;
  padding-left: 20px;
}
.content{
  color:aliceblue;
  width: 100%;
  /* margin: auto; */
  padding: 10px 0;
  display: flex;
  /* align-items: center; aligns them all on same line */
  justify-content: space-between;
}
.content ul{
  list-style: none;
  width: 100%;
  text-align: center;
  padding-right: 0px;
}
.content ul li{
  /* list-style: none; */
  display: inline-block;
  margin: 0px 10px;
  /* position: relative; */
}
.content ul li a{ /*anchor tag*/
  text-decoration: none;
  color: aliceblue;
  text-transform: uppercase;
}
.Header {
  font-size: 20px; /* Adjust caption size */
  color: rgb(255, 255, 255); /* Adjust caption color */
  margin-top: 20px; /* Adds some space between image and caption */
  text-align:center;
  padding-top: 15px;
  padding-left: 15px;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.paragraph{
  font-size: 15px; 
  color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-right: 50px;
}
.technicalImage{
  width: 180px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.pdf{
  display: block;
  margin: 0 auto;
}
.smallTitle{
  font-size: 15px; /* Adjust caption size */
  color: rgb(255, 255, 255); /* Adjust caption color */
  text-align:center;
}